{% block content -%}
    {{form_start(edit_form, { 'attr': {'id': 'pi2_fractalia_smsbundle_nombretsol_editar', 'data-url' : 'path' } })}}
        {{ form_errors (edit_form.nombre) }}
        {{ form_widget (edit_form.nombre , { 'attr': {'class': 'input_form'} }) }}
        {{form_rest(edit_form)}}
        <span class="cancelar_nombre" 
            data-location="{{ path('nombrecorto_mostrar', { 'id': entity.id }) }}" 
            data-shortid="{{entity.id}}" 
            title="Cancelar">
        </span>
    {{form_end(edit_form)}}
{% endblock %}
