<!doctype html>
<html lang="es">
    {% block content_header %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Logs Mensajes</title>
        <meta name="author" content="Raziel Valle Miranda">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        {% stylesheets 'bundles/fractaliasms/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset( asset_url) }}"/>
        {% endstylesheets %}

        {% javascripts
            '@FractaliaSmsBundle/Resources/public/js/jquery-1.11.0.min.js'
            '@FractaliaSmsBundle/Resources/public/js/retina.js'
            '@FractaliaSmsBundle/Resources/public/js/main.js'
            '@FractaliaSmsBundle/Resources/public/js/jquery-impromptu.js'
            '@FractaliaSmsBundle/Resources/public/js/jstz.min.js'
            output='js/compiled/log_javascripts.js'
        %}
        <script type="text/javascript" src="{{ asset( asset_url) }}"></script>
        <script type="text/javascript">
          function setCookie(name, timezone) {
              document.cookie = name + "=" + timezone +"; path=/";
          }
          $(function(){
              var tz = jstz.determine();
              response_text = '-99999';
              if (typeof (tz) === 'undefined') {
                  response_text = '-99999';
              }
              else {
                  response_text = tz.name();
                  setCookie('timezone', response_text); 
              }
          });
        </script>
        {% endjavascripts %}
        <!--[if lt IE 9]>
          <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {%endblock%}

    {% block body -%}
        {% if app.request.cookies.has('timezone') %}
            {% set timezone = app.request.cookies.get('timezone') %}
        {%endif%}
        <div id="view">
            <header>
                <h1>Log Sms's (envíos y errores)</h1>
                <section class="search_section">
                    {{form_start(form)}}
                    {{ form_errors (form.string) }}
                    {{ form_widget (form.string, {'attr': {'placeholder': 'Ingrese un criterio...'} }) }}
                    {{ form_widget (form.buscar)}}
                    {#                        <span id="clean_search" title="Limpiar"></span>#}
                    {{form_rest(form)}}               
                    {{form_end(form)}}
                </section>
                <div id='cssmenu'>
                    <ul>
                        <li><a href='#'><span>Configuraciones</span></a></li>
                        <li><a href='#'><span>Ver/Modificar Tsol</span></a>
                            <ul>
                                <li id="show_tsol"><a id="click_editar" href='#' title="Click para editar">{{tsol.nombre}}</a></li>
                            </ul>
                        </li>
                        <li><a href='#'><span>Gestionar Nombres Cortos</span></a>
                            <ul id="ncortos">
                                <div id="scrollable">
                                    {%for ncorto in nombres %}
                                        <li id="show_nombre_{{ncorto.id}}">
                                            <a 
                                                class="editar_nombre" 
                                                href='#' 
                                                data-location="{{ path('nombrecorto_editar', { 'id': ncorto.id }) }}" 
                                                data-shortnameid="{{ncorto.id}}" 
                                                title="Click para editar">
                                                {{ncorto.nombre}}
                                            </a>
                                            <span class="borrar_nombre"
                                                  data-location="{{ path('nombrecorto_borrar', { 'id': ncorto.id }) }}" 
                                                  title="Click para borrar">
                                            </span>
                                        </li>
                                    {%endfor%}
                                </div>
                                <li id="add_more"><a id="add_nombre" href='#' title="Click para crear"><span>Crear nombre corto</span></a>

                            </ul>

                        </li>
                    </ul>
                </div>
            </header>
            <div id="container">
                <div id="counters">
                    Total {{counter.total}} Sms's: Asentidos: {{counter.asent}}, Enviados: {{counter.enviado}}, Por Enviar: {{counter.enviar}}. Fallos({{counter.error+counter.build}}): F.Envío: {{counter.error}}, F.Texto: {{counter.build}}
                </div>
                <ul>
                    {% for entity in entities %}
                        {%if entity.estadoenvio == 'ERROR_BUILD' or entity.estadoenvio == 'ERROR' %}
                            <a href="{{ path('mensajes_edit', { 'id': entity.id }) }}">
                        {%elseif entity.estadoenvio == 'ENVIADO' or entity.estadoenvio == 'POR_ENVIAR' or entity.estadoenvio == 'ASENTIDO' %}
                            <a href="{{ path('mensajes_show', { 'id': entity.id }) }}">
                        {%endif%}
                                <li class="clearfix 
                                    {%if entity.estadoenvio == 'ERROR_BUILD' or entity.estadoenvio == 'ERROR' -%}
                                        fallo
                                    {%elseif entity.estadoenvio == 'ENVIADO' -%}
                                        enviados
                                    {%elseif entity.estadoenvio == 'ASENTIDO' -%}
                                        asentido
                                        {%-endif-%}
                                        ">
                                        {% image '@FractaliaSmsBundle/Resources/public/images/icon-default.png' %}
                                        <img src="{{ asset_url }}" alt="thumb" class="thumbnail"/>
                                        {% endimage %}
                                        <h2>{{ entity.destinatario }}</h2>
                                        <span class="estado_envio">
                                            {%if entity.estadoenvio == 'ERROR_BUILD'%}
                                                FALLO_TEXTO
                                            {%elseif entity.estadoenvio == 'ERROR'%}
                                                FALLO_ENVIO : {{entity.respuestaapi}}                
                                            {%elseif entity.estadoenvio == 'ENVIADO'%}
                                                <input class="asentir" type="checkbox" title="Marque para asentir" value="{{entity.id}}">CORRECTO                                                
                                            {%elseif entity.estadoenvio == 'POR_ENVIAR'%}
                                                POR_ENVIAR
                                            {%elseif entity.estadoenvio == 'ASENTIDO'%}
                                                <span style="color:green;">&#10004</span>{{entity.estadoenvio}}
                                            {%endif%}
                                        </span>
                                        <span class="nombre_plantilla">
                                            {{entity.nombreplantilla}} 
                                        </span>

                                        <p class="resumen_sms">{{entity.texto|slice(0, 50)}}...</p>
                                        <span class="fecha_creacion">
                                            {% if entity.fechaCreacion %}
                                                {%if timezone is defined and timezone != "-99999" %}{{ entity.fechaCreacion|date('d/m/y H:i:s', timezone) }}{% else %}{{ entity.fechaCreacion|date('d/m/y H:i:s', "UTC") }}{% endif %} 
                                            {% endif %}
                                        </span>
                                    </li></a>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {#                {{ app.request.server.get('HTTP_USER_AGENT') }}#}
                    <p id="back-top">
                        <a href="#top"><span></span>Subir</a>
                    </p>
                    <script type="text/javascript">
                        {#  Jquery para Manipular tsol #}

                        {#  Cargar Formulario Edicion tsol #}
                            $(document).on("click", "#click_editar", function (event) {
                                event.preventDefault();
                                $.ajax({
                                    url: "{{ path('tsol_editar', { 'id': tsol.id }) }}",
                                    type: "GET",
                                    dataTpe: "html",
                                    context: document.body
                                }).done(function (msg) {
                                    $("#show_tsol").html(msg);
                                });
                            });

                        {#  Procesar y Enviar Formulario Edicion tsol #}
                            $(document).on("click", "#button_editar_tsol", function (event) {
                                var val = $("#input_tsol_nombre").val();
                                var form = $('form#form_edit_tsol');
                                if (val != '') {
                                    event.preventDefault();
                                    $.ajax({
                                        type: "POST",
                                        cache: false,
                                        url: form.attr('action'),
                                        data: form.serialize(),
                                        success: function (data) {
                                            $("#show_tsol").html(data);
                                        }
                                    });
                                }
                            });

                        {#  Cancelar Edicion Formulario tsol #}
                            $(document).on("click", "#cancelar_tsol", function (event) {
                                event.preventDefault();
                                $.ajax({
                                    url: "{{ path('tsol_mostrar') }}",
                                    type: "GET",
                                    dataTpe: "html",
                                    context: document.body
                                }).done(function (msg) {
                                    $("#show_tsol").html(msg);
                                });
                            });
                        {#  FIN Jquery para Manipular tsol #}

                        {#  Jquery para Cancelar edicion de nombres cortos #}
                            $(document).on("click", "span.cancelar_nombre", function (event) {
                                var id = $(this).data("shortid");
                                var url = $(this).data("location");
                                event.preventDefault();
                                $.ajax({
                                    url: url,
                                    type: "GET",
                                    dataTpe: "html",
                                    context: document.body
                                }).done(function (msg) {
                                    $("#show_nombre_" + id).html(msg);
                                });
                            });
                        {#  FIN Jquery para cancelar edicion de nombres cortos #}

                        {#  Jquery para Manipular Nombres Cortos #}
                            $(document).on("click", "a.editar_nombre", function (event) {
                                var id = $(this).data("shortnameid");
                                var url = $(this).data("location");
                                event.preventDefault();
                                $.ajax({
                                    url: url,
                                    type: "GET",
                                    dataTpe: "html",
                                    context: document.body
                                }).done(function (msg) {
                                    $("#show_nombre_" + id).html(msg);
                                });
                            });

                            $(document).on("click", "button[id^='button_add_nc_']", function (event) {
                                var id = $(this).data("idf")
                                var val = $("#input_edit_nc_" + id).val();
                                var form = $('form#form_edit_nc_' + id);
                                if (val != '') {
                                    event.preventDefault();
                                    $.ajax({
                                        type: "POST",
                                        cache: false,
                                        url: form.attr('action'),
                                        data: form.serialize(),
                                        success: function (data) {
                                            $("#show_nombre_" + id).html(data)
                                        }
                                    });
                                }
                            });

                        {#  Jquery para creacion y Cancelar nombres cortos #}

                        {#  Jquery para Cargar el Formulario #}
                            $(document).on("click", "#add_nombre", function (event) {
                                event.preventDefault();
                                $.ajax({
                                    url: "{{ path('nombrecorto_nuevo') }}",
                                    type: "GET",
                                    dataTpe: "html",
                                    context: document.body
                                }).done(function (msg) {
                                    $("#add_more").html(msg);
                                });
                            });

                        {#  Jquery para Procesar y enviar el Formulario #}
                            $(document).on("click", "#button_add_nc", function (event) {
                                var val = $("#input_add_nc").val();
                                var form = $('form#form_add_nc');
                                if (val != '') {
                                    event.preventDefault();
                                    $.ajax({
                                        type: "POST",
                                        cache: false,
                                        url: form.attr('action'),
                                        data: form.serialize(),
                                        success: function (data) {
                                            $.ajax({
                                                url: "{{ path('nombrecorto_todos') }}",
                                                type: "GET",
                                                dataTpe: "html",
                                                context: document.body
                                            }).done(function (msg) {
                        {#                          No funciona arreglar          #}
                        {#                                    $("#ncortos").append("<div id=\"scrollable\">" + html(msg) + "</div>");#}
                                                $("#ncortos").html(msg);
                                            });
                                        }
                                    });
                                }
                            });

                        {#  Jquery para Cancela el enviar Formulario #}
                            $(document).on("click", "#cancelar_agregar_nombre", function (event) {
                                var li_add = '<a id="add_nombre" href="#" title="Click para crear"><span>Crear nombre corto</span></a>';
                                event.preventDefault();
                                $("#add_more").html(li_add);
                            });
                        {#  FIN Jquery para Creacion y Cancelar nombres cortos #}
                        
                        {#  Jquery para Asentir un sms #}
                        $(document).on("click", ".asentir", function (event) {
                            event.preventDefault();
                            asentirMensaje($(this).val());
                        });
                        function asentirMensaje(id) {
                                var texto = '¿Se asentirá el mensaje id: ' + id + '?';
                                var data = {id: id}
                                $.prompt(texto, {
                                    buttons: {Cancelar: false, Asentir: true},
                                    close: function (e, v, m, f) {
                                        if (v) {
                                            $.ajax({
                                                url: "{{ path('sms_asentir') }}",
                                                type: "POST",
                                                data: JSON.stringify(data),
                                                contentType: 'application/json; charset=utf-8',
                                                dataType: 'json',
                                            }).done(function (msg) {
                                                if(msg == 0){
                                                    location.reload();
                                                }else{
                                                    alert("Ocurrio un error al intentar asentir, codigo error: " + msg);
                                                }
                                            });
                                        }
                                        else {
                                        }
                                    }
                                });
                            }

                        {#  Jquery para Borrar nombres cortos #}
                            $(document).on("click", ".borrar_nombre", function (event) {
                                event.preventDefault();
                                var url = $(this).data("location");
                                var nombre = $(this).prev().text();
                                removeNombreCorto(url, nombre);
                            });

                            function removeNombreCorto(url, nombre) {
                                var texto = '¿Esta seguro/a que deseas borrar el Nombre Corto: ' + nombre + '?';

                                $.prompt(texto, {
                                    buttons: {Cancelar: false, Borrar: true},
                                    close: function (e, v, m, f) {
                                        if (v) {
                                            $.ajax({
                                                url: url,
                                                type: "GET",
                                                dataTpe: "html",
                                                context: document.body
                                            }).done(function (msg) {
                                                $("#ncortos").html(msg);
                                            });
                                        }
                                        else {
                                        }

                                    }
                                });
                            }
                        {#  FIN Jquery para Borrar nombres cortos #}
                            
                        
                    </script>
                    <script type="text/javascript">
                        $(document).ready(function () {

                            // hide #back-top first
                            $("#back-top").hide();

                            // fade in #back-top
                            $(function () {
                                $(window).scroll(function () {
                                    if ($(this).scrollTop() > 100) {
                                        $('#back-top').fadeIn();
                                    } else {
                                        $('#back-top').fadeOut();
                                    }
                                });

                                // scroll body to 0px on click
                                $('#back-top a').click(function () {
                                    $('body,html').animate({
                                        scrollTop: 0
                                    }, 800);
                                    return false;
                                });
                            });

                        });
                    </script>
                    {% endblock %}
