{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sms</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Destinatario</th>
                <td>{{ entity.destinatario }}</td>
            </tr>
            <tr>
                <th>Remitente</th>
                <td>{{ entity.remitente }}</td>
            </tr>
   
            <tr>
                <th>Mensaje</th>
                <td>{{ entity.mensaje.texto }}</td>
            </tr>
            <tr>
                {%if entity.fechaEnvio%}
                    <th>Fecha de Envio</th>
                    <td>{{ entity.fechaEnvio|date('d/m/y H:i:s') }}</td>
                {%elseif entity.fechaCreacion%}
                    <th>Fecha de Creación</th>
                    <td>{{ entity.fechaCreacion|date('d/m/y H:i:s') }}</td>
                {%endif%}
            </tr>
            {%if entity.estadoEnvio == "POR_ENVIAR" or entity.estadoEnvio == "ENVIADO" %}
            <tr>
                <th>Estado</th>
                <td>{{ entity.estadoEnvio }}</td>
            </tr>
            {%endif%}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensajes') }}">
            Volver al Listado
        </a>
    </li>
    {%if entity.estadoenvio == "ERROR" or entity.estadoenvio == "ERROR_BUILD" %}
    <li>
        <a href="{{ path('mensajes_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    {%endif%}
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
