{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Incidencia</h1>

    <table class="record_properties">
        <tbody>
            {#<tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>#}
            <tr>
                <th>DESTINATARIO</th>
                <td>{{ entity.destinatario }}</td>
            </tr>
            <tr>
                <th>CLIENTE</th>
                <td>{{ entity.cliente }}</td>
            </tr>
            <tr>
                <th>TIPO</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>TECNICO</th>
                <td>{{ entity.tecnico }}</td>
            </tr>
            <tr>
                <th>TSOL</th>
                <td>{{ entity.tsol }}</td>
            </tr>
            <tr>
                <th>FECHA</th>
                <td>{{ entity.fecha|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>MODO RECEPCION</th>
                <td>{{ entity.modo }}</td>
            </tr>
            <tr>
                <th>RESOLUCIONES</th>
                <td>{{ entity.resolucion }}</td>
            </tr>
            <tr>
                <th>FECHAENVIO</th>
                <td>{{ entity.fechaEnvio|date('d/m/Y H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensajes') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mensajes_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
