{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de Sms que fallaron</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Destinatario</th>
                <th>Remitente</th>
                <th>Texto</th>
                <th>Estado</th>
                <th>Bitacora</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sms_show', { 'id': entity.id }) }}">{{ entity.destinatario }}</a></td>
                <td>{{ entity.remitente }}</td>
                <td>{{ entity.respuesta }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.bitacora }}</td>
                {#<td>{% if entity.fechaEnvio %}{{ entity.fechaEnvio|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaActualizacion %}{{ entity.fechaActualizacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>#}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sms_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sms_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sms_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
