{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sms</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Destinatario</th>
                <td>{{ entity.destinatario }}</td>
            </tr>
            <tr>
                <th>Remitente</th>
                <td>{{ entity.remitente }}</td>
            </tr>
            <tr>
                <th>Estado Envío</th>
                <td>
                    {%if entity.estadoenvio == 'ERROR_BUILD' %}
                        FALLO_TEXTO
                    {%elseif entity.estadoenvio == 'ERROR' %}
                        FALLO_ENVIO                
                    {%elseif entity.estadoenvio == 'ENVIADO' %}
                        CORRECTO
                    {%elseif entity.estadoenvio == 'POR_ENVIAR' %}
                        POR_ENVIAR
                    {%elseif '_Y_CANCEL' |slice(0, entity.estadoenvio|length) %}
                        CANCELADO
                    {%endif%}
                </td>
            </tr>
            <tr>
                <th>Respuesta API</th>
                <td>{{ entity.respuestaApi }}</td>
            </tr>
            <tr>
                <th>Fecha envío</th>
                <td>{% if entity.fechaEnvio %}{{ entity.fechaEnvio|date('Y-m-d H:i:s') }}{%endif%}</td>
            </tr>
            <tr>
                <th>Fecha Creación</th>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{%endif%}</td>
            </tr>
            <tr>
                <th>Fecha Actualización</th>
                <td>{% if entity.fechaActualizacion %}{{ entity.fechaActualizacion|date('Y-m-d H:i:s') }}{%endif%}</td>
            </tr>
            
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('sms') }}">
                Volver al Listado
            </a>
        </li>
        <li>
            <a href="{{ path('mensajes') }}">
                Volver al Log de Sms's
            </a>
        </li>
    </ul>
{% endblock %}
