{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de SMS's con ERROR</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Destinatario</th>
                <th>Remitente</th>
                <th>Mensaje</th>
                <th>Estado</th>
{#                <th>Respuesta Envio</th>#}
 {#               <th>Fechacreacion</th>
                <th>Fechaactualizacion</th>
                <th>Fechaenvio</th>#}
                <th>Log</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.destinatario }}</td>
                <td>{{ entity.remitente }}</td>
                <td>{{ entity.mensajeTexto }}</td>
                <td>{{ entity.estado }}</td>
{#                <td>{{ entity.respuestaEnvio }}</td>#}
                <td>{{ entity.log }}</td>
{#                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.fechaActualizacion }}</td>
                <td>{% if entity.fechaEnvio %}{{ entity.fechaEnvio|date('Y-m-d H:i:s') }}{% endif %}</td>#}
{#                <td><a href="{{ path('smsevento_show', { 'id': entity.id }) }}">{{ entity.mensajeTexto }}</a></td>#}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('smsevento_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('smsevento_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('smsevento_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
