{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mensaje list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nombreplantilla</th>
                <th>Tipomensaje</th>
                <th>Texto</th>
                <th>Estado</th>
                <th>Log</th>
                <th>Fechacreacion</th>
                <th>Fechaactualizacion</th>
                <th>Fechaadjuntadosms</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('mensaje_show', { 'id': entity.id }) }}">{{ entity.nombrePlantilla }}</a></td>
                <td>{{ entity.tipoMensaje }}</td>
                <td>{{ entity.texto }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.log }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaActualizacion %}{{ entity.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaAdjuntadoSms %}{{ entity.fechaAdjuntadoSms|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('mensaje_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('mensaje_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('mensaje_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
