{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mensaje Texto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre Plantilla</th>
                <td>{{ entity.nombrePlantilla }}</td>
            </tr>
            <tr>
                <th>Fecha Creación</th>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipoMensaje }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ entity.texto }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>
                    {%if entity.estado == 'CORRECT' %}
                        CORRECTO
                    {%elseif entity.estado == 'FAIL' %}
                        FALLO_TEXTO
                    {%endif%}
                </td>
            </tr>
            <tr>
                <th>Fecha Actualización</th>
                <td>{% if entity.fechaActualizacion %}{{ entity.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha Adjuntado en Sms</th>
                <td>{% if entity.fechaAdjuntadoSms %}{{ entity.fechaAdjuntadoSms|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('mensaje') }}">
                Volver al Listado
            </a>
        </li>
        <li>
            <a href="{{ path('mensajes') }}">
                Volver al Log de Sms's
            </a>
        </li>
    </ul>
{% endblock %}
