{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Columnaevento list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>EVENTO</th>
                <th>NUMERO CASO</th>
                <th>CLIENTE</th>
                <th>TIPO</th>
                <th>TECNICO</th>
                <th>TSOL</th>
                <th>FECHA</th>
                <th>MODO</th>
                <th>DETALLE</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>fooEVENTO</td>
                <td>{{ entity.numeroCaso }}</td>
                <td>{{ entity.cliente }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.tecnico }}</td>
                <td>{{ entity.tsol }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('d/m/y H:i:s') }}{% endif %}</td>
                <td>fooCorreo</td>
                <td>{{ entity.detalle }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('columnaevento_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('columnaevento_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('columnaevento_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
