{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Columnaevento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Numerocaso</th>
                <td>{{ entity.numeroCaso }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>{{ entity.cliente }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Tecnico</th>
                <td>{{ entity.tecnico }}</td>
            </tr>
            <tr>
                <th>Tsol</th>
                <td>{{ entity.tsol }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modo</th>
                <td>{{ entity.modo }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ entity.detalle }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('evento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('evento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
