{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Columnaevento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{label.id}}</th>
                <td>{{ entity.numeroCaso }}</td>
            </tr>
            <tr>
                <th>{{label.cliente}}</th>
                <td>{{ entity.cliente }}</td>
            </tr>
            <tr>
                <th>{{label.tipo}}</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>{{label.tecnico}}</th>
                <td>{{ entity.tecnico }}</td>
            </tr>
            <tr>
                <th>{{label.tsol}}</th>
                <td>{{ entity.tsol }}</td>
            </tr>
            <tr>
                <th>{{label.fecha}}</th>
                <td>{{ entity.fecha|date('d/m/y H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{label.modo}}</th>
                <td>{{ entity.modo }}</td>
            </tr>
            <tr>
                <th>{{label.detalle}}</th>
                <td>{{ entity.detalle }}</td>
            </tr>
            {#<tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>#}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('columnaevento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('columnaevento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
